[flake8]
exclude =
    .git,
    __pycache__,
    venv,
    accounts.py
    algo_selling.py,
    category_magento.py
    combos.py,
    common.py,
    credit.py,
    deals.py,
    delivery_window,
    main.py,
    orders.py,
    populate.py,
    simulation.py,
    simulation.py,
    data_mass/user/*.py
    data_mass/populator/*.py
